.list-item-container {
    border-bottom: 1px solid #9291a0;
    padding: 5px 5px 7px 5px;
    height: 55px;
    margin-bottom: 10px;
}

.line {
    height: 22px;
}

.line-bold {
    font-weight: bold;
    height: 22px;
}

.line-bold-italic {
    font-style: italic;
    height: 22px;
}

.line-italic {
    font-style: italic;
    height: 22px;
}