.playlist-item-container {
    border-bottom: 1px solid #9291a0;
    padding: 5px 5px 7px 5px;
    height: 55px;
    margin-bottom: 10px;
}

.playlist-item-container .playlist-title {
    font-weight: bold;
    height: 22px;
}

.playlist-item-container .playlist-description {
    font-style: italic;
    height: 22px;
}